@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    --font-principal: "Roboto";
    --color-principal: #16c880;
    --color-dark-green: #032b1f;
}

@theme {
    --font-roboto: "Roboto", sans-serift;
    --color-esmerald: oklch(0.596 0.145 163.225)
}

body {
    font-family: var(--font-principal);
    list-style: none;
    margin: auto;
    width: 100%;
}

/**
Header
**/
/* badges header */
@layer components {
    .badges {
        background-color: var(--color-neutral-50);
        color: var(--color-emerald-700);
        width: 20%;
        text-align: center;
        padding: calc(var(--spacing) * 2.8);
        border-radius: var(--radius-2xl);
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color 0.3s ease, transform 0.2s ease;
    }

    @media (max-width: 768px) {
        .badges {
            width: 100%;
            font-size: small;
        }
    }
}

.badges:hover {
    border: solid 1px var(--color-principal);
}

/*inputs header*/
@layer components {
    .inputs-header {
        background-color: white;
        padding: 8px;
        border-radius: 20px;
        text-align: center;
    }


}

@media (max-widht: 768px) {
    .inputs-header {
        width: full;
        padding: 0px;
    }

}

/**
main
**/
/*
cards-section
*/
@layer {
    .card-main {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        border-radius: 0.8rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        padding-bottom: 8rem;
    }

    .button-card-section {
        margin: auto;
        padding: 0.8rem 2rem;
        background-color: var(--color-white);
        border-radius: 1.8rem;
        border: 1px solid var(--color-cyan-500);
        color: var(--color-cyan-600);
        cursor: pointer;
        transition: 0.3s ease, transform 0.2s ease;
        ;

    }

    .button-card-section:hover {
        color: var(--color-cyan-400);
    }
}