@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    --font-principal: "Roboto"
        --color-principal: #16c880;

    --color-dark-green: #032b1f;
}
@theme {
    --font-roboto: "Roboto", sans-serift;
    --color-esmerald: oklch(0.596 0.145 163.225)
}

body {
    font-family: var(--font-principal);
    list-style: none;
    margin: auto
}
/* badges header */
@layer components {
    .badges {
        background-color: var(--color-neutral-50);
        color: var(--color-emerald-800);
        width: calc(var(--spacing) * 28);
        text-align: center;
        padding: calc(var(--spacing) * 2.8);
        border-radius: var(--radius-2xl);
        font-weight: 600;
        text-transform: capitalize;
    }
}

